<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt64r9nGEnVHO2S8s7tzjIWjxXC1_1e6g</string>
	<key>GCM_SENDER_ID</key>
	<string>225351800357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myXAndo</string>
	<key>PROJECT_ID</key>
	<string>xoxo-522bd</string>
	<key>STORAGE_BUCKET</key>
	<string>xoxo-522bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225351800357:ios:1886379c02edd8784251cc</string>
	<key>DATABASE_URL</key>
	<string>https://xoxo-522bd-default-rtdb.firebaseio.com</string>
</dict>
</plist>